{% extends 'base.html' %}



{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="container">
    <div class="row " style="alignment: center">
        <div class="col-5 card" style="margin: 5px" >

            <canvas id="productsChart" width="400" height="300"></canvas>
            <script>
                var ctx = document.getElementById("productsChart");

                var productsChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: JSON.parse('{{ datas_vagas|safe }}'),
                        datasets: [{
                            label: 'Vagas x Mês',
                            data: JSON.parse('{{ total_vagas|safe }}'),
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(100, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>


        <div class="col-5 card " style="margin: 5px" >
            <canvas id="productsChart2" width="400" height="300"></canvas>
            <script>
                var ctx = document.getElementById("productsChart2");

                var productsChart2 = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: JSON.parse('{{ datas_candidatos|safe }}'),
                        datasets: [{
                            label: 'Candidatos x Mês',
                            data: JSON.parse('{{ total_candidatos|safe }}'),
                            backgroundColor: [
                                 'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(100, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>



{% endblock %}