{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Register</title>


  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">


</head>

<body class="bg-gradient-primary">


<!-- Messages -->
{% if messages %}
<div class="messages">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-2 d-none d-lg-block"></div>
          <div class="col-lg-8">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Registrar</h1>
              </div>



              <form class="user" method="post">
                {% csrf_token %}

                 <div class="form-group">
                  <input type="text" name="first_name" maxlength="50" autofocus="" required="" id="id_first_name"
                         class="form-control form-control-user" aria-required="true" placeholder="Nome">
                 {{ form.first_name.errors }}
                </div>


                <div class="form-group">
                  <input type="email" name="email" maxlength="254" autofocus="" required="required" id="id_email"
                         class="form-control form-control-user" placeholder="E-mail">
                 {{ form.email.errors }}
                </div>


                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" name="password1" required="" id="id_password1"
                           class="form-control form-control-user" aria-required="true" placeholder="Senha">
                    {{ form.password1.errors }}
                  </div>


                  <div class="col-sm-6">
                    <input type="password" name="password2" required="" id="id_password2"
                           class="form-control form-control-user" aria-required="true" placeholder="Confirme a senha">
                    {{ form.password2.errors }}
                  </div>
                </div>

                <button type="submit"  class="btn btn-primary btn-user btn-block" >Cadastrar</button>

              </form>


              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

   <!-- Bootstrap core JavaScript-->

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>


  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>


  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
</body>

</html>
